---
layout: default
title: Blog
---

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 px-4 mb-5">
      <h1 class="text-center h3">Blog</h1>

      <p class="text-center">
        Stories, ideas, and announcements related to gold, investing, and <a href="https://alloyx.co">AlloyX</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% for post in site.posts %}
        <a href="{{ post.url }}" class="link-unstyled">
          <article>
            {% if post.hero %}
              <img class="rounded img-fluid mb-4" src="{{ post.hero }}" alt="{{ post.title }}">
            {% endif %}

            <h2 class="h3">{{ post.title }}</h2>

            <p class="small">{{ post.date | date_to_string }} / {{ post.author }}</p>

            <p class="mb-4">{{ post.excerpt | truncate: 300 }}</p>

            <button class="btn btn-info btn-lg">Read</button>
          </article>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
