---
layout: default
title: Blog
---

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 px-4 mb-5">
      <h1 class="text-center h3">Blog</h1>

      <p class="text-center">
        Stories, ideas, and announcements related to gold, investing, and <a href="https://alloyx.co">AlloyX</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% for post in site.posts %}
        <article>
          {% if post.hero %}
            <a href="{{ post.url }}">
              <img class="img-fluid mb-4" src="{{ post.hero }}" alt="{{ post.title }}">
            </a>
          {% endif %}

          <h2 class="h3 mb-4">{{ post.title }}</h2>

          <p class="mb-4">{{ post.excerpt | truncate: 300 }}</p>

          <a href="{{ post.url }}" class="btn btn-info btn-lg">Read</a>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
