---
layout: default
title: Blog
---

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 px-4 mb-5">
      <h1 class="text-center">Blog</h1>

      <p class="text-center">
        Stories, ideas, and announcements related to gold, investing, and AlloyX.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="container">
        <div class="row">
          {% for post in site.posts %}
            <div class="col-lg-6">
              <article>
                <div class="card mb-5">
                  {% if post.hero %}
                    <img class="card-img-top" src="{{ post.hero }}" alt="{{ post.title }}">
                  {% endif %}

                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt | truncate: 120 }}</p>
                    <a href="{{ post.url }}" class="btn btn-primary">Read</a>
                  </div>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
