$black: #222222;
$black-lightened: #8C8C8C;
$white: #FFFFFF;
$white-darkened: #EFEFEF;
$gray: #DDDDDD;
$gray-darkened: #9A9A9A;
$gray-lightened: #F6F6F6;
$dark-cerulean: #0E4A83;
$dark-cerulean-darkened: #0C4172;
$bright-navy-blue: #2D7DD2;
$bright-navy-blue-darkened: #2871BF;
$bright-navy-blue-lightened: #2F84E0;
$maastricht-blue: #022B3A;
$almost-black: #06131D;
$brown: #C5984B;
$yellow-light: #FCF9E2;
$yellow: #FFD700;
$yellow-darkened: #CCAC00;
$gold: #FFD700;
$metallic-gold: #D4AF37;
$green: #1B793C;
$green-light: #DAF3D8;
$form-input-border: #E6E6E6;
$form-input-placeholder: #767676;

