body, html {
  height: 100%;
  color: #2C3C45;
  font-size: 16px;
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  font-family: Times, "Times New Roman", serif;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  background: #EBE5D9;
  background: #FFFFFF;
  padding: 1rem;
  border-top: 3px solid #FDDFC4;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p {
  line-height: 2.0rem;
}

.headshot-component {
  margin: 0 auto;
  text-align: center;
}

/* page-component */
table.page-component {
  /*border: 1px solid #2C3C45;*/
  margin: 0 auto;
  height: 100%;
  background: #fff;
}

table.page-component td {
  padding: 2.0rem;
  padding-right: 8rem;
  padding-left: 8rem;
}

/* letterhead-component */
.letterhead-component {
  text-align: center;
}

.letterhead-component img {
  width: 14rem;
}

.wheat-component {
  margin: 0 auto;
  width: 80px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  body {
    border-top: none;
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 25mm;
    left: 0;
    text-align: center;
  }
}
