---
layout: default
---

{% if page.hero %}
<div class="container-fluid mb-5">
  <div class="row text-center no-gutters">
    <div class="col-lg-8 offset-lg-2 text-center">
      <img src="{{page.hero}}" class="img-fluid"/>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 px-4 mb-5">
      <article>
        <h1 class="h1">{{ page.title }}</h1>

        <p class="small">{{ page.date | date_to_string }} / {{ page.author }}</p>

        {{ content }}
      </article>
    </div>
  </div>
</div>
