---
layout: default
---

{% if page.hero %}
<div class="container-fluid mb-5">
  <div class="row text-center no-gutters">
    <div class="col-lg-8 offset-lg-2 text-center">
      <img src="{{page.hero}}" class="img-fluid rounded"/>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 px-4 mb-5">
      <article>
        <h1 class="h1">{{ page.title }}</h1>

        <p class="small">{{ page.date | date_to_string }} / {{ page.author }}</p>

        {{ content }}
      </article>

      <hr class="mt-5 mb-3"/>

      <p class="share-page">
        Share this on 
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> and
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source={{ site.url }}" target="_blank">LinkedIn</a>
        <!-- and <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a> -->
      </p>
    </div>
  </div>
</div>
